<template>
<Auth>
  <div>
    <h1>Product View</h1>
  </div>
  </Auth>
</template>
<script>
import Auth from '../components/Auth.vue'
import api from '../services/api'
export default {
  async  mounted () {
    const product = await api.get('/products')
    console.log(product)
  },
  components: {
    Auth
  }

}
</script>
<style></style>
